@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  background-color: black;
  color: white;
  height: 100vh;
  font-family: 'Chakra Petch', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 5px;
  /* Ancho de la barra de desplazamiento */
}

/* Estilos para el track de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: black;
  /* Color de fondo del track */
}

/* Estilos para el thumb de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: yellow;
  /* Color del thumb */
  border-radius: 5px;
  /* Borde redondeado del thumb */
}

/* Estilos para las flechas en los extremos de la barra de desplazamiento */
::-webkit-scrollbar-button {
  background-color: yellow;
  /* Color de las flechas */
}

/* Estilos para la flecha hacia arriba en la barra de desplazamiento */
::-webkit-scrollbar-button:start:decrement {
  display: none;
}

/* Estilos para la flecha hacia abajo en la barra de desplazamiento */
::-webkit-scrollbar-button:end:increment {
  display: none;
}